.formControl.error input,
.formControl.error textarea{
  margin-bottom: 5px;
  border: solid 1px red;
}

.formControl.error span{
  color: black;
}

.formSummaryError {
  margin-bottom: 10px;
  border: solid 1px red;
  padding: 5px;
  color: black;
}

.formControl input {
  width: 30%;
  height: 30px;
  margin-bottom: 5px;
}

