.header {
    grid-area: h;
    background-color: #3D60A1;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
}

.header img {
    width: 110px;
    padding: 10px;
    border-radius:20px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}