.nav {
    grid-area: n;
    background-color: dodgerblue;
    margin: 0px 10px 0px 0px;
    padding: 15px;
    border-radius: 5px;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.item a.activeLink {
    color: lightgrey;
}

