body {
    font-family: "Torus Notched SemiBold";
    background: linear-gradient(to right, #8E9CD3, #14326A);
}

button {
    font-family: "Torus Notched SemiBold";
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #7093D2;
    border-radius: 5px;
}